/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root {
  --background-dark: #302f2d;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 48px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-elements: 15rem;
  /* defined with JavaScript */
  --marquee-elements-displayed: 15;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: 10s;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-Y: hidden;

}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

ul {
  margin: 0;
  padding: 0;
}

.btn-primary {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #ffbd3a;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-primary:hover {
  background-color: #FFF;
  color: #ffbd3a !important;
  border-color: #ffbd3a;
}

.modal {
  overflow-y: visible !important
}

.custom-title1,
.custom-title2 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.custom-title1::before {
  background-color: #ffbd3a;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.25rem;
  width: 5rem;
  margin-bottom: 1.25rem;
}

.custom-title2::after {
  background-color: #ffbd3a;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.25rem;
  width: 5rem;
  margin-top: 1.25rem;
}

/* Loading screen */
.loading-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #302f2d;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.loading-container div {
  background: #ffbd3a;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
  top: 40px;
  position: relative;
  margin-left: 10px;
}

.loading-container div:nth-child(1),
.loading-container div:nth-child(3),
.loading-container div:nth-child(5) {
  animation: animateone 1s linear infinite;
  top: 40px;
}

.loading-container div:nth-child(2),
.loading-container div:nth-child(4) {
  animation: animatetwo 1s linear infinite;
  top: -40px;
}

@keyframes animateone {
  0% {
    top: 40px;
    transform: scale(1);
  }

  50% {
    top: -40px;
    transform: scale(0.5);
  }
}

@keyframes animatetwo {

  0%,
  100% {
    top: -40px;
    transform: scale(0.5);
  }

  50% {
    top: 40px;
    transform: scale(1);
  }
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffbd3a;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffbd3a;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background: #fff;
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0;
}
nav .navbar .logo .logo-img{
  width: 2.5rem;
  position: relative;
  top: -0.5rem;
}
nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #302f2d;
  font-family: 'Stick No Bills', sans-serif;
}

nav.sticky .navbar .logo a {
  color: #FFC448;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #302f2d;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #c4c4c4;
}

nav.sticky .menu a {
  color: #302f2d;
}

nav.sticky .menu a:hover {
  color: #c4c4c4;
}

.navbar .media-icons a {
  color: #302f2d;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #FFC448;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #302f2d;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #ffbd3a;
}

nav.sticky .menu-btn {
  color: #FFC448;
}

.navbar .menu .menu-btn {
  color: #FFC448;
}

/* home section styling */
.home {
  height: 100vh;
  width: 100%;
  background: url("../Images/2nd\ option.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #302f2d;
}

.text svg {
  font-family: 'Abel', sans-serif;
  position: relative;
  width: 25%;
  left: -0.25rem;
}

.text svg text {
  text-transform: uppercase;
  animation: stroke 5s;
  stroke-width: 1;
  stroke: #302f2d;
  font-size: 200px;
  font-weight: 600;
  position: absolute;
  left: 0;
}

@keyframes stroke {
  0% {
    fill: #302f2d;
    stroke: #ffbd3a;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: #302f2d;
    stroke: #ffbd3a;
  }

  80% {
    fill: #302f2d;
    stroke: #ffbd3a;
    stroke-width: 3;
  }

  100% {
    fill: #302f2d;
    stroke: #302f2d;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.home .text-two {
  color: #302f2d;
  font-size: 60px;
  font-weight: 600;
  margin-left: -3px;
  font-family: 'Abel', sans-serif;
}

.home .text-three {
  font-size: 26px;
  margin: -15px 0 12px;
  color: #ffbd3a;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 7px 13px;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 400;
  background: #ffbd3a;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  position: relative;
}

.contact-btn {
  background-color: #302f2d !important;
}

.home .button button:hover {
  border-color: #ffbd3a;
  background-color: #fff;
  color: #ffbd3a;
}

.home .button button:hover a {
  border-color: #ffbd3a;
  background-color: #fff;
  color: #ffbd3a !important;
}

.contact-btn:hover {
  border-color: #302f2d !important;
  background-color: #fff;
  color: #FFF;
}

.contact-btn:hover a {
  border-color: #ffbd3a;
  background-color: #fff;
  color: #ffbd3a !important;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section {
  padding: 40px 0;
}

.skills {
  width: 100%;
  margin: 40px auto;
  padding: 5rem 0;
  font-family: 'Poppins', sans-serif;
}

.skill {
  width: 9rem;
  height: 8rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  transition: all 0.4s linear;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

.skill .front-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.skill .back-side {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
}

.skill .back-side h3 {
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 1.6rem !important;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffbd3a;
}

.skill:hover {
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.rotating {
  transform: rotateY(180deg);
}

.skill2 {
  top: -1.5rem;
}

@media (max-width: 1200px) {
  .skill2 {
    top: 0;
  }
}

.skills i {
  font-size: 5rem;
  color: rgba(255, 189, 56, 0.8);
}

.skills span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills img {
  width: 80%;
  opacity: 0.8;
  filter: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(4224%) hue-rotate(326deg) brightness(100%) contrast(105%);
}


/*------------- about section ------------ */
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.about .about-details .left {
  width: 40%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  filter: grayscale(1);
  position: relative;
  z-index: 1;
}

.img-container {
  position: relative;
}

.img-border1::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 60%;
  top: -16px;
  left: -3%;
  background-color: #ffbd3a;
  z-index: 2;
}

.img-border1::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  top: -16px;
  left: 0%;
  background-color: #ffbd3a;
  z-index: 2;
}

.img-border2::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 60%;
  bottom: -16px;
  right: 19.75%;
  background-color: #ffbd3a;
  z-index: 2;
}

.img-border2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  bottom: -16px;
  right: 19.75%;
  background-color: #ffbd3a;
  z-index: 2;
}

@media (max-width: 1400px) {
  .img-border2::before {
    right: 10%;
  }

  .img-border2::after {
    right: 7%;
  }
}

@media (max-width: 1200px) {
  .about .left img {
    border-radius: 12px;
  }

  .img-border1::before {
    display: none;
  }

  .img-border1::after {
    display: none;
  }

  .img-border2::before {
    display: none;
  }

  .img-border2::after {
    display: none;
  }
}

.about-details .right {
  width: 60%;
  line-height: 2.1;
}

section .topic {
  color: #302f2d;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #302f2d;
  font-size: 1.25rem;
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  font-size: 25px;
  border-radius: 4px;
  font-weight: 400;
  background: #ffbd3a;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
}

section .button button:hover {
  border-color: #ffbd3a;
  background-color: #fff;
  color: #ffbd3a;
}


/* My Skills CSS */
.skills {
  background: #efefef;
}

.skills .content {
  padding: 40px 0;
  width: 100%;
  margin: 0 0 50px 0;
}




/* My Services CSS */
.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  transition: all 0.4s ease;
}

.portfolio {
  position: relative;
  background-image: url(../Images/background\ \(2\).jpg);
  padding: 6rem 0;
}

.portfolio .title {
  margin-bottom: 3rem;
}

.portfolio .container {
  position: relative;
}

.portfolio-container {
  margin: 0px 64px;
}

.portfolio #portfolio-filter {
  padding: 0;
  margin: -15px 0 3rem 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.portfolio #portfolio-filter li {
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  padding: 9px 20px;
  font-size: 21px;
  font-weight: 600;
  color: #302f2d;
  background: transparent;
  border-radius: 15px;
  box-shadow: inset 0 0 0 50px transparent;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
  color: #ffbd3a;
  background: transparent;
  box-shadow: inset 0 0 0 0 #ffbd3a;
}

.card-border {
  overflow: hidden;
  position: relative;
  transform: scale(1) translateZ(0);
  border-radius: 30px;
  transition: all 0.4s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  overflow: hidden;

}

.card__background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  border-radius: 30px;
  width: 100%;
  height: 35.5rem;
  margin: 0 auto;
  /* filter: brightness(0.8) saturate(1.2) contrast(0.85); */
  position: relative;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: all 0.4s ease;
  filter: grayscale(1);
  overflow: hidden;
}

.card-border:hover .card__background {
  transform: scale(1.05) translate(5px);
  cursor: pointer;
}

.card-content:hover {
  bottom: 0;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 1;
}

.card-content-blur {
  position: absolute;
  padding: 0 1rem;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: -86%;
  z-index: 1;
}

.card-content:hover .card-title {
  margin-top: 8rem;
}

.card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #302f2d;
  background-color: rgb(255, 196, 72, 0.3);
  left: 0;
  text-align: center;
  z-index: 3;
  bottom: -91%;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  /* filter: grayscale(0.8); */
  transition: background-color 700ms cubic-bezier(0.19, 1, 0.22, 1), bottom 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.008) 11.7%, rgba(0, 0, 0, 0.035) 22.1%, rgba(0, 0, 0, 0.07) 31.2%, rgba(0, 0, 0, 0.12) 39.4%, rgba(0, 0, 0, 0.18) 46.6%, rgba(0, 0, 0, 0.247) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.392) 64.3%, rgba(0, 0, 0, 0.467) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.608) 78.8%, rgba(0, 0, 0, 0.667) 83.6%, rgba(0, 0, 0, 0.72) 88.7%, rgba(0, 0, 0, 0.76) 94.1%, rgba(0, 0, 0, 0.79) 100%); */
  overflow: hidden;
}

.card-content>*+* {
  margin-top: 2rem;
}

.card-title {
  font-family: 'Dosis', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.35;
  transition: all 0.4s ease;
}

.card-copy {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.35;
  padding: 0 4rem;
  transition: all 0.4s ease;
}

.card-btns button {
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  transition: all 0.4s ease;
}

.card-btns i {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.card-btns button:hover {
  color: #ffbd3a;
}

.thanks {
  color: #ffbd3a !important;
  top: -20px;
  padding: 0 5px;
  background-color: white;
  border-radius: 5px;
  display: none;
}

.thanks::after {
  content: "";
  display: block;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: -10px;
  background-color: white;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .card-content {
    padding: 0;
    bottom: -91%;
  }

  .card-content:hover .card-title {
    margin-top: 8rem;
  }

  .card-content>*+* {
    margin-top: 1rem;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-copy {
    font-size: 1.5rem;
    padding: 0 2.5rem;
  }
}

.proj1 {
  background-image: url(../Images/proj1.png);
}

.proj2 {
  background-image: url(../Images/proj2.png);
}

.proj13 {
  background-image: url(../Images/proj13.png);
}

.proj12 {
  background-image: url(../Images/proj12.png);
}

.proj5 {
  background-image: url(../Images/proj5.png);
}

.proj6 {
  background-image: url(../Images/proj6.png);
}

.proj7 {
  background-image: url(../Images/proj7.png);
}

.proj8 {
  background-image: url(../Images/proj8.png);
}

.proj9 {
  background-image: url(../Images/proj9.png);
}

.proj10 {
  background-image: url(../Images/proj10.png);
}

.proj11 {
  background-image: url(../Images/proj11.png);
}

/* Contact Me CSS */
.contact {
  background: #efefef;
}

.contact p {
  color: #ffbd3a;
  font-size: 1.2rem;
  margin: 0;
}

.detail {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.contact hr {
  width: 90%;
  margin: 0.5rem 0;
}

.contact a {
  padding: 1px 9px;
  font-size: 20px;
}

.contact button {
  padding: 5px 9px;
  font-size: 17px;
}

.form-control {
  resize: none;
  margin-bottom: 0.4rem;
  border: 2px solid var(--bs-border-color);
  padding: 0rem 1rem !important;
  position: relative;
}

input {
  height: 40px !important;
}

.form-floating>label {
  padding: 0.35rem .75rem !important;
}

.form-control:focus {
  color: #5A5A5A;
  background-color: #fff;
  border-color: #ffbd3a40;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffbd3a40;
}

::placeholder {
  color: #ffbd3a;
  opacity: 0.5;
}

/* Footer CSS */
footer {
  background: #302f2d;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: hsl(41, 100%, 64%);
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #ffbd3a;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 1;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 100%;
  }

  .about-details .right {
    line-height: 1.6;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
    padding: 0 !important;
  }

  section .button {
    display: flex;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #ffbd3a;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #302f2d;
    margin: 10px 0;
  }

  nav .navbar .menu a:hover {
    color: #fff;
  }

  nav.sticky .menu a:hover {
    color: #302f2d;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .text svg {
    width: 50%;
  }

  .text svg text {
    font-size: 200px;
  }

  .home .text-three {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .text {
    text-align: center;
  }

  .text svg {
    width: 70%;
  }

  .text svg text {
    font-size: 200px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills-details .boxes .per {
    font-size: 50px;
    color: #ffbd3a;
  }

  section .button {
    display: flex;
    justify-content: center;
  }
}